html {
    font-family: 'Courier', monospace;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ensure headers never get underlined */
h1, h2, h3, h4, h5, h6 {
    text-decoration: none !important;
    border-bottom: none !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
    border-bottom: none !important;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}