---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Are you lost buddy?"
	description="Myself"
	pubDate={new Date()}
	heroImage="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXdvZTZ1a2RjN3VzMzdoM2poMXM2bnVtZzRnajdiOHJ6eXIzaXJudCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gioXyl9A3eiObmtwKZ/giphy.gif"
>
<p class="w-full text-justify text-base md:text-lg">
	404 Not Found
  </p>
</Layout>